DATABASE_URL=postgresql+asyncpg://postgres.YOUR_PROJECT_REF:YOUR_PASSWORD@aws-0-YOUR_REGION.pooler.supabase.com:6543/postgres?ssl=require
JWT_SECRET_KEY=5f198719eb96cfeb4831cdb46b5e96ef3b3f89cf899def89dc85489208f4d62d
JWT_TTL_MINUTES=1440
ALLOWED_ORIGINS=https://your-vercel-app.vercel.app
ENV=production
SQL_ECHO=false
WEB_CONCURRENCY=2
